{% if menu %}
	<ul class="flex flex-row mt-1 space-x-3">
	{% for item in items %}
		<li>
			<a class="nav-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'items': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
